{% extends 'template.html' %}

{# Place the content for the cellContent1 in this block #}
{% block cellContent1 %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            Re-setting password for user:
        <div class="focus fw-bold">
        {{ user.name }} <span class="fw-semibold">({{ user.email_address }})</span>
        </div> <br>
        <div class="horizontal-divider"></div> <br>
        <p>
            {{ form.current_password.label }}<br>
            {{ form.current_password(size=32) }}<br>
            {% for error in form.current_password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.new_password.label }}<br>
            {{ form.new_password(size=32) }}<br>
            {% for error in form.new_password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password(size=32) }}<br>
            {% for error in form.confirm_password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}

{# Place the content for the cellContent2 in this block #}
{% block cellContent2 %}
{% endblock %}

{# Place the content for the cellContent3 in this block #}
{% block cellContent3 %}
{% endblock %}

{# Place the content for the cellContent4 in this block #}
{% block cellContent4 %}
{% endblock %}