{% extends 'template.html' %}

{# Place the content for the cellContent1 in this block #}
{% block cellContent1 %}
    {% for image in photo %} {# this only loops once but is needed #}
        <div>
            <span class="fw-semibold">Name: </span>{{ image.title }} <br>
            <span class="fw-semibold">Uploaded by: </span>
            {% for user in users %}
                {% if user.id == image.userid %}
                    {{ user.name }}
                {% endif %}
            {% endfor %}
            <br>
            <span class="fw-semibold">Date Uploaded: </span>{{ image.dateSubmitted.strftime('%H:%M - %d/%m/%Y') }}
            <br><br>
            <img class="centre-img img-border" src="/static/images/userPhotos/{{ image.filename }}" width="75%">
        </div>
        <br>
        <a href="/gallery">
            <button class="btn btn-secondary">← Back to Photo Gallery</button>
        </a>
        <br><br>
        <a href="/userPhotos">
            <button class="btn btn-secondary">← Back to Your Photos</button>
        </a>
    {% endfor %}
{% endblock %}

{# Place the content for the cellContent2 in this block #}
{% block cellContent2 %}
{% endblock %}

{# Place the content for the cellContent3 in this block #}
{% block cellContent3 %}
{% endblock %}

{# Place the content for the cellContent4 in this block #}
{% block cellContent4 %}
{% endblock %}