{% extends 'template.html' %}

{# Place the content for the cellContent1 in this block #}
{% block cellContent1 %}
    <div class="grid-container">
        <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="/static/images/country/img.png" style="width:100%">
            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="/static/images/country/img1.png" style="width:100%">
            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="/static/images/country/img2.png" style="width:100%">
            </div>

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>

        <!-- The dots/circles -->
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </div>

    <!--javascript for image carousel-->
    <!--Code from W3 Schools https://www.w3schools.com/howto/howto_js_slideshow.asp-->
    <script>
        // Starting slide
        let slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous slides
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Shows current image
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        // displays slides
        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            if (n > slides.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = slides.length
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>
{% endblock %}

{# Place the content for the cellContent2 in this block #}
{% block cellContent2 %}
    <p>
        <img src="/static/images/country/img3.png" width="100%">
    </p>
{% endblock %}

{# Place the content for the cellContent3 in this block #}
{% block cellContent3 %}
    <p>
        <img src="/static/images/country/img5.png" width="93%">
    </p>
{% endblock %}

{# Place the content for the cellContent4 in this block #}
{% block cellContent4 %}
    <p>
        <img src="/static/images/country/img4.png" width="50%">
    </p>
{% endblock %}

