{% extends 'template.html' %}

{# Place the content for the cellContent1 in this block #}
{% block cellContent1 %}

    {# Add New To Do #}
    <div class="row">

        {# vertical divider creates a line between this and the to do list column #}
        <div class="col-5 vertical-divider">

            <h2>Add Todo</h2>

            <form method="POST" action="">
                {{ form.hidden_tag() }}

                <p>
                    {{ form.text(size=32) }}<br> {# sets size of input box #}
                    {% for error in form.text.errors %} {# displays error if contains invalid entry #}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>

                <p>
                    {{ form.submit(size=32) }}<br> {# sets size of input box #}
                    {% for error in form.submit.errors %} {# displays error if contains invalid entry #}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>

            </form>
        </div>

        {# To do List #}
        <div class="col-6">

            <h2>Todo List</h2>

            {# loops through all entries in to do table in the database #}
            {% for todo in todos %}

                {# horizontal divider creates a line between each to do entry #}
                <p>
                <hr class="horizontal-divider">

                <form method="POST" action="/todoedit/{{ todo.id }}">
                    <input type="hidden" name="done" value="off">

                    {# little checkbox #}
                    <input type="checkbox" onclick="redirect('/todoedit/{{ todo.id }}')"
                           data-target="/todoedit/{{ todo.id }}" name="done">

                    {# input showing text of to do #}
                    <input type="text" title="{{ todo.dateAdded }}" value="{{ todo.text }}" name="text"
                           class="form-text">

                    {# update button #}
                    <button type="submit" value="update" class="form-control-sm">Update</button>
                </form>

                {# delete button #}
                <form method="GET" action="/todoedit/{{ todo.id }}">
                    <button type="submit" value="delete" class="form-control-sm">Delete</button>
                </form>
            {% endfor %}
            <br>
        </div>
    </div>
{% endblock %}